<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BankUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IBankCustomer_Service">
                    <reliableSession enabled="true" />
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ISecurity_Service">
                    <reliableSession enabled="true" />
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8080/BankCustomer_Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBankCustomer_Service"
                contract="BankCustomers.IBankCustomer_Service" name="NetTcpBinding_IBankCustomer_Service">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8084/SecurityService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISecurity_Service"
                contract="Security.ISecurity_Service" name="NetTcpBinding_ISecurity_Service">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
    <userSettings>
        <BankUI.Properties.Settings>
            <setting name="StartUP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Light_Theme" serializeAs="String">
                <value>True</value>
            </setting>
        </BankUI.Properties.Settings>
    </userSettings>
</configuration>